.populares {
    padding: 3rem 0;
}

.populares__titulo {
    font-weight: 500;
}

.populares__icone {
    margin-right: .25rem;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__cabecalho {
    border-bottom: 1px solid #dcdcdc; /*A linha entre os botões e o grid*/
    display: flex;
    justify-content: space-between;
}

.populares__botao {
    background: transparent;
    border: none;
    color: #333333;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-auto-columns: 100%;
    width: calc(20% - 1rem); /*Os 20% separa em 5 colunas. O cálculo faz diminui 1rem da width total pra poder usar esse valor na margem*/
    margin: 0 0.5rem;
    grid-template-rows: 155px auto; /*Aqui começamos a redimensionar as imagens. A primeira linha vai ter 173px(mudei pra 155px), e a segunda será auto. Isso é bom para alinhar, pois sem esta configuração as imagens têm tamanhos diferentes na vertical.*/
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    grid-area: card-corpo;
    padding: .75rem;
    display: grid;
    grid-template-areas: 
    "card-cabecalho"
    "card-conteudo";
    grid-template-rows: 50px auto;
    grid-row-gap: .5rem;
}

.populares__card___titulo {
    color: #333333;
    font-size: 1.5rem;
}

.populares__card___data {
    color: #808080;
    font-size: .9rem;
}

.populares__card___descricao {
    color: #333333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}
