.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

body main {
    width: 1200px;
    margin: auto;
}

.cabecalho {
    grid-area: cabecalho; /*O grid-area define qual espaço do grid este elemento deve ocupar*/
}

.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}